name: GAPLIB complete build

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main"]
  pull_request:
    branches: [ "main"]
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  gaplib-build:
    name: Run GAPLIB complete build - ${{ matrix.runner_name }} [${{ matrix.runner_owner }}]
    runs-on: ${{ matrix.runner_name }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: "ubuntu"
            version: "24.04"
            runner_name: "ubuntu-24.04-ppc64le"
            runner_owner: "ppc64le-hosted"
            setup_type: "complete"
          - os: "ubuntu"
            version: "24.04"
            runner_name: "ubuntu-24.04-s390x"
            runner_owner: "s390x-hosted"
            setup_type: "complete"
    steps:
      - name: Checkout Code
        uses: actions/checkout@v5

      - name: Build GAPLIB Image
        run: | 
          sed -i -E '/install-snap\.sh|install-lxd\.sh|configure-snap\.sh/d' scripts/helpers/setup_install.sh
          scripts/lxd.sh "${{ matrix.os }}" "${{ matrix.version }}" "" "" "${{ matrix.setup_type }}" --skip-lxd-snapshot