name: ShellCheck Lint

on:
  push:
    branches: [ "main" ]
    paths: [ "**.sh" ] # Only run if shell files change
  pull_request:
    branches: [ "main" ]
    paths: [ "**.sh" ]
  workflow_dispatch:

jobs:
  shellcheck:
    name: Run ShellCheck
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Run ShellCheck
        uses: ludeeus/action-shellcheck@master
        with:
          # Optional: check specific directory
          scandir: '.'